<div class = "mainContent">
  <div class = "jumbotron">
    <div class = "container">
      <div class = "page-header">
        <h1> <i class="fas fa-box"></i>
          Compass</h1>
        <p class = "lead">The next-gen project planning software</p>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-collapse navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink = "/home">Dashboard </a>
        </li>
        <li class="nav-item dropdown" *ngIf = "userIsAuthenticated && adminFlag">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink = '/auth/signup'>Create User</a>
          </div>
        </li>
        <li class="nav-item dropdown"  *ngIf = "userIsAuthenticated && adminFlag">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Department
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink = '/dept/createDept'>Create Department</a>
            <a class="dropdown-item" href="#" routerLink = '/dept/createRole'>Create Role</a>
            <a class="dropdown-item" href="#" routerLink = '/dept/assignRole'>Assign Role</a>
          </div>
        </li>
        <li class="nav-item dropdown"  *ngIf = "userIsAuthenticated  && adminFlag">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Project
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" routerLink = '/project/initiateProject'>Initiate Project</a>
            <a class="dropdown-item" href="#" routerLink = '/project/assignProject'>Assign Project</a>
          </div>
        </li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf = "userIsAuthenticated">
          <button (click) = "onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
